.cache/
.checkstyle
compile_commands.json
.project
.pydevproject
.DS_Store
*.DS_Store
`.DS_Store?
.metadata/
.vscode/
.metals/
build/*
cscope.*
.idea
TAGS
GPATH
GRTAGS
GTAGS
GSYMS
deployment/.vagrant
deployment/rktest.yml
deployment/vagrant.yml
deployment/vagrant_ansible_inventory*
deployment/ansible/cassandra.logdir_IS_UNDEFINED/
deployment/ansible/dogfood_ipv6_inventory
deployment/ansible/rktest_linux_agent_inventory
deployment/ansible/rktest_windows_agent_inventory
deployment/dev/.vagrant
deployment/dev/vagrant*
deployment/ansible/roles/rk_node_sources/files/Release*
deployment/ansible/roles/rk_dev_sources/files/Release*
deployment/ansible/roles/upgrade_deployment/files/lib*
deployment/temp/dev_debs/*
deployment_*
extract_jar/
*.pyc
__pycache__
.mypy_cache/*
.mypycache/*
tags
*.ipr
*.iws
src/java/sd/.tmpBin/*
*~
*#
.#*
*.ko
*.ko.signed
module_sd_(1).xml
sd.xml
sd.properties
conf/build_date
conf/githash
conf/nodehash
conf/version
conf/version_number
src/web/prod/
src/web/.tmp
src/web/.baseDir.ts
src/schema/generated*
src/schema/cockroachdb/sd.json
*.generated.ts
*.log.txt
*.sar
inventory.yml
src/java/sd/scalastyle-output.xml
conf/cdm-cluster-*.yml
conf/changelog.yml
conf/config_*.yml
conf/edge-dynapod-*.yml
conf/*.*.*.*.yml
conf/ip_*-*
conf/mssql-server-*-*
conf/rktest_cluster0.yml
conf/rktest_cluster1.yml
conf/rktest_cluster2.yml
conf/rktest_custom.yml
conf/rktest_custom_inventory.yml
conf/templates/*initial_config.yml.j2
conf/templates/*local_config.yml.j2
conf/rktest_custom.yml
conf/rktest_custom_inventory.yml
conf/vm-machine-*
conf/vm_machine_*.yml
conf/sd_dev_machine_*.yml
conf/nfs_ds_*.yml
# Bodega generated ESX spec files
conf/s-*.colo.yml
conf/esx-*.yml
conf/ubuntu-*-*
deployment/ansible/B*_ipv4_inventory*
deployment/ansible/B*_ipv6_inventory*
deployment/ansible/aws_inventory.j2
deployment/ansible/cdm-cluster-*_ipv4_inventory
deployment/ansible/cdm-cluster-*_ipv4_inventory.j2
deployment/ansible/cdm-cluster-*_ipv6_inventory
deployment/ansible/cdm-cluster-*_ipv6_inventory.j2
deployment/ansible/edge-dynapod-*_ipv4_inventory
deployment/ansible/edge-dynapod-*_ipv4_inventory.j2
deployment/ansible/edge-dynapod-*_ipv6_inventory
deployment/ansible/edge-dynapod-*_ipv6_inventory.j2
deployment/ansible/merged_ipv6_cluster0_inventory
deployment/ansible/merged_ipv6_cluster0_inventory.j2
deployment/ansible/merged_ipv6_cluster1_inventory
deployment/ansible/merged_ipv6_cluster1_inventory.j2
deployment/ansible/merged_ipv6_cluster2_inventory
deployment/ansible/merged_ipv6_cluster2_inventory.j2
deployment/ansible/merged_ipv6_inventory.j2
deployment/ansible/merged_ipv6_inventory
deployment/ansible/robo_ipv6_inventory*
deployment/ansible/vm-machine-*_ipv4_inventory*
deployment/ansible/vnode_ipv6_inventory*
thirdparty/*
cache/*
tools/*.dat
tools/build_rules/CROSSTOOL
tools/ipmicfg
tools/mellanox/**
!tools/mellanox/*.sh
tools/modules
tools/raidutils/
tools/README
tools/sum/sum
tools/teleport/
tmpy*
*/.vscode/*
*.log
*.swp
*.gz
*.gz.sig
src/py/bodega/client/bodega-jenkins-plugin/target/*
lab/bodega/client/bodega-jenkins-plugin/build/*
lab/bodega/client/bodega-jenkins-plugin/.gradle/*
lab/bodega/client/bodega-jenkins-plugin/target/*
lab/bodega/thesite/local_settings.py
lab/bodega/deps/*
deployment/docker/modules/bodega/bodega_devbox/local_settings.py
src/schema/scripts/blobstore-upgrade
src/schema/scripts/rebuild_indices.sh
src/scripts/tests/tools/js/unminify/node_modules/*
Rubrik_Windows
logs/*
lab/jira_backports/*.csv

# Ignore Manufacturing HBX Client binaries
manufacturing/rkmfg-hbx-client/target/*

# Dynapod files - these are autogenerated when the relevant cluster is reserved
/dynapod*.yml
/dynapod*_ipv4_inventory*.j2
/dynapod*_ipv6_inventory*.j2
conf/dynapod*.yml
deployment/ansible/dynapod*_ipv4_inventory
deployment/ansible/dynapod*_ipv4_inventory.j2
deployment/ansible/dynapod*_ipv6_inventory.j2
deployment/ansible/rkpytest*_inventory*

# Ignore bazel python binaries directory
dist

# Ignore bazel output directories
/bazel-*
user.bazelrc
/bazel_changed_targets.txt
/bazel_affected_targets_deps.txt
/bazel_profile.gz
wrapper.bazelrc
*.trace

# Ignore temporary files generated while launching local hbx server instance.
src/py/heartbeat/hbxprofiles.sbx.yml
src/py/heartbeat/registration.rubrik-lab.com.pem

# Ignore etags file
TAGS

# Ignore accidental top level yarn files
/yarn.lock
/node_modules

# Ignore Isilon REST client lib which is temporary workaround for SCON build
src/cpp/thirdparty/isilon/*

# Ignore the output directory
output/*

# Ignore generated events files
src/spec/events/target/
src/spec/notifications/target/

# Ignore generated internal errors files
src/spec/internal-errors/target/

# Ignore generated error message files
src/spec/error-messages/gen-cpp/
src/spec/error-messages/target/

# Ignore linked built_from_centos
*/built_from_centos/*

# Ignore .devbox directory used for sd_dev_box
.devbox/

# Ignore generated pip files
*.egg-info

# Ignore C++ dynamic libraries directory
src/_solib_k8

# Ignore tpm tools
tools/tpm-tools

# Ignore build artifacts
rubrik-[1-9]*
internal-rubrik-[1-9]*

# Ignore generated dashboard files
src/scripts/infra/grafana/customer_debugging/*_generated.json
src/scripts/infra/grafana/grafana-compose.yml

# Ignore .docker_context
deployment/docker/apps/indexer/.docker_context
deployment/docker/apps/patch_file_server/.docker_context

# Ignore temp location.
tmp
temp

# Ignore docker-compose override files
deployment/docker/dev/docker-compose.override.yml

# Ignore test failures file generated by bazel
test_failure_summary.txt

# Ignore generate docker-compose files for Statsrelay, Alert Framework
src/scripts/infra/alerts/airflow/compose/*.yml
src/scripts/infra/carbon-relay-ng/compose/*.yml

# Ignore intellij generated files
*.iml
# include intellij files checked into repo
!./src/java/sd/src/main/sd.iml
.mypy_cache

site

# ignore firmware binaries
tools/firmware/rubrik/Rubrik_392_rev.bin
tools/firmware/rubrik/Rubrik_X11DPT_B_671_15_20200408.bin
tools/firmware/rubrik/X11DPTB9_A19_RI13.a19
tools/firmware/rubrik/sum
tools/firmware/rubrik/x10drtb9.cl2.20200124.RubrikRI13.b20
tools/firmware/rubrik/x10drth9.cl2.20200626.Rubrik.b20
